.devcontainer
.vscode
src/**

!outputs/melodic
!outputs/noetic
!src/melodic
!src/noetic
!src/melodic/public
!src/noetic/public
!src/melodic/myrobot_*
!src/melodic/myrobot_*/**
!src/melodic/vs087*
!src/melodic/vs087*/**