<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true" />
  <arg name="gazebo_gui" default="true" />
  <arg name="urdf_path" />
  <arg name="world_path" />
  <arg name="robot_name" />

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_path)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gazebo_gui)" />
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" command="xacro $(arg urdf_path)" />

  <!-- <include file="$(find myrobot_moveit)/launch/gazebo_depth_converter.launch">
    <arg name="ns" value="/$(arg robot_name)/body_camera" />
  </include>
  <include file="$(find myrobot_moveit)/launch/gazebo_depth_converter.launch">
    <arg name="ns" value="/$(arg robot_name)/right_camera" />
  </include>
  <include file="$(find myrobot_moveit)/launch/gazebo_depth_converter.launch">
    <arg name="ns" value="/$(arg robot_name)/left_camera" />
  </include> -->

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -unpause -param robot_description -model robot -x 0 -y 0 -z 0 
    -J joint_body 0.378
    -J left_joint_sholder 0 -J right_joint_sholder 0 
    -J left_joint_2 -0.5235 -J right_joint_2 -0.5235 
    -J left_joint_3 -0.3490 -J right_joint_3 -0.3490 
    -J left_joint_5 -0.6981 -J right_joint_5 -0.6981 
    " respawn="false" output="screen" />

  <include file="$(find myrobot_moveit_config)/launch/ros_controllers.launch" />

</launch>