<?xml version="1.0" encoding="UTF-8"?>
<robot name="vs087" xmlns:xacro="http://wiki.ros.org/xacro">
    <gazebo>
        <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
            <robotNamespace>/vs087</robotNamespace>
        </plugin>
    </gazebo>

    <xacro:include filename="$(find denso_robot_descriptions)/vs087_description/vs087.urdf.xacro" />
    <!-- <xacro:include filename="$(find franka_description)/robots/hand.xacro" /> -->
    <xacro:include filename="$(find franka_description)/robots/panda_gazebo.xacro" />
    <xacro:include filename="$(find franka_description)/robots/utils.xacro" />
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

    <xacro:macro name="arm_with_hand" params="prefix parent xyz rpy">
        <gazebo>
            <!-- loading plugin: mimic joints works in gazebo now -->
            <plugin name="gazebo_gripper_ros_control" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
                <joint>${prefix}_panda_finger_joint1</joint>
                <mimicJoint>${prefix}_panda_finger_joint2</mimicJoint>
                <multiplier>1.0</multiplier>
                <offset>0.0</offset>
            </plugin>
        </gazebo>

        <joint name="${prefix}_joint_w" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}" />
            <parent link="${parent}" />
            <child link="${prefix}_base_link" />
        </joint>
        <xacro:vs087 prefix="${prefix}" />
        <xacro:hand arm_id="${prefix}_panda" connected_to="${prefix}_J6" />
        <!-- to add transmission to hand -->
        <xacro:gazebo-joint joint="${prefix}_panda_finger_joint1" transmission="hardware_interface/EffortJointInterface" />
        <xacro:gazebo-joint joint="${prefix}_panda_finger_joint2" transmission="hardware_interface/EffortJointInterface" />
    </xacro:macro>


    <link name="world" />
    <xacro:arm_with_hand prefix="panda" parent="world" xyz="0.15 0 0" rpy="0 0 0" />

    <!-- <joint name="panda_camera_base_joint" type="fixed">
        <origin xyz="0.1 0 0" rpy="0 0 0" />
        <parent link="panda_J4" />
        <child link="panda_camera_base_link" />
    </joint>
    <link name="panda_camera_base_link" />
    <xacro:sensor_d435 name="camera" topics_ns="camera" parent="panda_camera_base_link" publish_pointcloud="true">
        <origin xyz="0 0 0" rpy="0 ${radians(-90)} 0" />
    </xacro:sensor_d435> -->
</robot>