<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- <xacro:include filename="$(find realsense2_description)/urdf/_d435.gazebo.xacro" /> -->

    <!-- <xacro:gazebo_d435 camera_name="${name}" reference_link="${name}_link" topics_ns="${topics_ns}" depth_optical_frame="${name}_depth_optical_frame" color_optical_frame="${name}_color_optical_frame" infrared1_optical_frame="${name}_left_ir_optical_frame" infrared2_optical_frame="${name}_right_ir_optical_frame" publish_pointcloud="${publish_pointcloud}" /> -->
    <!-- override -->
    <xacro:macro name="gazebo_d435_override" params="name topics_ns publish_pointcloud">
        <gazebo>
            <plugin name="${topics_ns}" filename="librealsense_gazebo_plugin.so">
                <prefix>${name}</prefix>
                <depthUpdateRate>30.0</depthUpdateRate>
                <colorUpdateRate>30.0</colorUpdateRate>
                <infraredUpdateRate>30.0</infraredUpdateRate>
                <depthTopicName>depth/image_raw</depthTopicName>
                <depthCameraInfoTopicName>depth/camera_info</depthCameraInfoTopicName>
                <colorTopicName>color/image_raw</colorTopicName>
                <colorCameraInfoTopicName>color/camera_info</colorCameraInfoTopicName>
                <infrared1TopicName>infra1/image_raw</infrared1TopicName>
                <infrared1CameraInfoTopicName>infra1/camera_info</infrared1CameraInfoTopicName>
                <infrared2TopicName>infra2/image_raw</infrared2TopicName>
                <infrared2CameraInfoTopicName>infra2/camera_info</infrared2CameraInfoTopicName>
                <colorOpticalframeName>${name}_color_optical_frame</colorOpticalframeName>
                <depthOpticalframeName>${name}_depth_optical_frame</depthOpticalframeName>
                <infrared1OpticalframeName>${name}_left_ir_optical_frame</infrared1OpticalframeName>
                <infrared2OpticalframeName>${name}_right_ir_optical_frame</infrared2OpticalframeName>
                <rangeMinDepth>0.2</rangeMinDepth>
                <rangeMaxDepth>10.0</rangeMaxDepth>
                <pointCloud>${publish_pointcloud}</pointCloud>
                <!-- ref: https://github.com/pal-robotics/realsense_gazebo_plugin/issues/31 -->
                <!-- <pointCloudTopicName>depth/color/points</pointCloudTopicName> -->
                <pointCloudCutoff>0.25</pointCloudCutoff>
                <pointCloudCutoffMax>9.0</pointCloudCutoffMax>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>