<launch>
    <arg name="robot_name" default="myrobot" />
    <arg name="camera_serial_no_1" default="032622073208" />
    <arg name="camera_serial_no_2" default="" />
    <arg name="camera_serial_no_3" default="047322070125" />

    <group ns="$(arg robot_name)">
        <group if="$(eval camera_serial_no_1 != '')">
            <include file="$(find realsense2_camera)/launch/rs_camera.launch">
                    <arg name="serial_no" value="$(arg camera_serial_no_1)" />
                    <arg name="camera" value="left_camera" />
                <arg name="align_depth" value="true" />
                <arg name="filters" value="spatial,temporal,pointcloud" />
            </include>
        </group>
        <group if="$(eval camera_serial_no_2 != '')">
            <include file="$(find realsense2_camera)/launch/rs_camera.launch">
                    <arg name="serial_no" value="$(arg camera_serial_no_2)" />
                    <arg name="camera" value="right_camera" />
                <arg name="align_depth" value="true" />
                <arg name="filters" value="spatial,temporal,pointcloud" />
            </include>
        </group>
        <group if="$(eval camera_serial_no_3 != '')">
            <include file="$(find realsense2_camera)/launch/rs_camera.launch">
                    <arg name="serial_no" value="$(arg camera_serial_no_3)" />
                    <arg name="camera" value="body_camera" />
                <arg name="align_depth" value="true" />
                <arg name="filters" value="spatial,temporal,pointcloud" />
            </include>
        </group>
    </group>
</launch>